<div class="container">
    <div class="row">
        <h1 class="page-header">Add New Forum Baru</h1>
        <!-- Menampilkan Error Pada Penginputan-->
        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>

    </div>
</div>

<% let isiData; %>
<% if(locals.data) { isiData = data} %>

<form method="POST" action="/myforum" class="mt-4" enctype="multipart/form-data">
    <div class="mb-3">
        <input type="hidden" class="form-control" id="Title" aria-describedby="Title" name="id_user"
            value="<%= idUser %>" required>
    </div>
    <fieldset>
        <div class="mb-3">
            <label class="form-label" for="select">Kategori</label>
            <select class="form-select" id="select" name="category" value="<%= isiData?.category %>" required>
                <option selected>Pilih Kategori</option>
                <% for(const category of categorys) { %>
                <option value="<%= category.id_category %>"><%= category.title_category %></option>
                <% } %>

            </select>
        </div>
    </fieldset>

    <div class="mb-3">
        <label for="Title" class="form-label">Judul Diskusi</label>
        <input type="text" class="form-control" id="Title" aria-describedby="Title" name="title_post"
            placeholder="Judul Diskusi" value="<%= isiData?.title_post %>" required>
    </div>
    <div class="mb-3">
        <label for="Title" class="form-label">Content</label>
        <textarea type="text" class="form-control" id="Title" aria-describedby="Title" name="content"
            placeholder="Isi Diskusi" value="<%= isiData?.content %>" required></textarea>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image </label>

        <input type="file" accept="image/png, image/jpeg, image/jpg" class="form-control" id="image" name="image"
            value="<%= isiData?.content %> ">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
</div>