<div class="container">
    <div class="row">
        <h1 class="page-header">add User</h1>
        <!-- Menampilkan Error Pada Penginputan-->
        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>

    </div>
</div>

<% let isiData; %>
<% if(locals.data) { isiData = data} %>

<form method="POST" action="/setting-user/register" class="mt-4" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" aria-describedby="username" name="username"
            placeholder="Username" value="<%= isiData?.username %>" required>
    </div>
    <div class="mb-3">
        <label for="nama" class="form-label">Nama Lengkap</label>
        <input type="text" class="form-control" id="nama" aria-describedby="nama" name="nama"
            value="<%= isiData?.nama %>" required placeholder="Nama">
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="Email" class="form-control" id="Email" aria-describedby="Email" name="email" placeholder="Email"
            value="<%= isiData?.email %>" required>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="password" placeholder="password" required>
    </div>
    <div class="mb-3">
        <label for="Password2" class="form-label">confirm Password</label>
        <input type="password" class="form-control" id="Password2" name="password2" placeholder="confirm Password"
            required>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image </label>

        <input type="file" accept="image/png, image/jpeg, image/jpg" class="form-control" id="image" name="image">

    </div>

    <div class="mb-3">
        <label class="form-label" for="select">Role</label>
        <select class="form-select" id="select" name="role" value="<%= isiData?.role %>" required>
            <option selected>Pilih Kategori</option>
            <option value="user">user</option>
            <option value="admin">admin</option>


        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
</div>