<% if (forums.length < 1 ) { %>
<p>Forum diskusi tidak ada</p>
<% } else {%>

<h1 class="text-center">Diskusi Tentang
    <%= capitalize.words(title_category) %>
</h1>
<% for(const forum of forums) { %>
<div class="card w-50 mt-4">
    <div class="card-body">
        <h5 class="card-title">
            <%= forum.title_post %>
        </h5>

        <p><%= forum.content.substring(0, 50) %>... </p>
        <% if(forum.image === 'null' || forum.image === 'undefined') { %>

        <% }else { %>
        <img src="../image/<%= forum.image %>" class="rounded mx-0 d-block" width="30%" alt="...">
        <% } %>
        <p class="card-text"><small class="text-muted"> <%= forum.username %>
                <%= moment(forum.date).format('yyyy-MM-DD') %>, <%= moment(forum.time).format('HH:MM') %></small></p>
    </div>


    <a href="/category/<%= forum.title_category %>/post/<%= forum.title_post %>" class="stretched-link"></a>
</div>
<% } %>
<% } %>