<% if (!post) { %>
Forum tidak ada.<br> <a href="/category" class="alert-link fw-normal">&laquo;Kembali ke kategori</a>.
<% } else { %>
<div class="card w-70 mt-4">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a
                        href="/category/<%= titleCategory%>"><%= capitalize.words(titleCategory)%></a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= post.title_post %></li>
            </ol>
        </nav>
    </div>
    <div class="card-body">
        <h3 class="card-title"><%= post.title_post %></h3>
        <p class="card-text"><%= post.content %> </p>
        <% if(post.image === null || post.image === undefined) { %>

        <% }else { %>
        <img src="/image/<%= post.image %>" class="img-fluid" alt="Responsive image" alt="...">
        <% } %>
        <p class="card-text"><small class="text-muted">Owner <%= post.username %>
                <%= moment(post.date).format('DD-MM-YYYY') %>,
                <%= moment(post.time).format('HH:MM') %></small></p>
    </div>




</div>


<% if (comments.length < 1 ) { %>
<p>Comment Tidak ada</p>
<% } else {%>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Recent Comments</h4>
        <h6 class="card-subtitle">Latest Comments section by users</h6>
    </div>
    <% for(const comment of comments){%>




    <div class="comment-widgets m-b-20">

        <div class="d-flex flex-row comment-row">
            <div class="p-2"><span class="round"><img src="/image/<%= comment.image %>" alt="user" width="50"></span>
            </div>
            <div class="comment-text w-100">
                <h5><%= comment.username %></h5>
                <div class="comment-footer">
                    <span class="date"><%= moment(comment.date).format('yyyy-MM-DD') %>,
                        <%= moment(comment.time).format('HH:MM') %></span>
                    <% if (users.role=='admin' && users.username==comment.username ) { %>
                    <a href="/category/<%= titleCategory %>/post/<%= post.title_post %>/comment/edit/<%= comment.id_comment %>"
                        data-abc="true"><i class="bi bi-pencil-square"></i></a>
                    <% } %>
                    <% if(users=='null'){ %>
                    <% }else if(users.role=='admin' ){ %>
                    <a href="/category/<%= titleCategory %>/post/<%= post.title_post %>/comment/delete/<%= comment.id_comment %>"
                        data-abc="true"><i class="bi bi-trash-fill"></i></a>

                    <% }else if(users.role=='user' && users.username==comment.username){ %>

                    <a href="/category/<%= titleCategory %>/post/<%= post.title_post %>/comment/edit/<%= comment.id_comment %>"
                        data-abc="true"><i class="bi bi-pencil-square"></i></a>
                    <a href="/category/<%= titleCategory %>/post/<%= post.title_post %>/comment/delete/<%= comment.id_comment %>"
                        data-abc="true"><i class="bi bi-trash-fill"></i></a>
                    </span>
                    <% } %>
                </div>
                <p class="m-b-5 m-t-10"><%= comment.comment %></p>
            </div>
        </div>

    </div>


    <!-- 
    <div class="card w-70 mt-4">
        <div class="card-body">
    
            <small class="card-text">Comment by <%=// comment.username %> </small>
            <p class="card-text"><%=// comment.comment %> </p>
    
            <p class="card-text"><small class="text-muted">
                    <%=// moment(comment.date).format('yyyy-MM-DD') %>, <%=// comment.time %></small>
            </p>
    
        </div>
        <div class="text-end mb-10 mr-10">
            <%// if (users.role=='admin' && users.username==comment.username ) { %>
    
            <a href="/category/<%=// titleCategory %>/post/<%=// post.title_post %>/comment/edit/<%=// comment.id_comment %>"
                class="btn btn-warning ml-1 badge mt-2"><i class="bi bi-pencil-square"></i>
            </a>
    
            <%// } %>
            <%// if(users=='null'){ %>
            <%// }else if(users.role=='admin' ){ %>
    
            <a href="/category/<%=// titleCategory %>/post/<%=// post.title_post %>/comment/delete/<%=// comment.id_comment %>  %>"
                class="btn btn-danger badge mt-2" onclick="return confirm('yakin Anda Menghapus comment ini  ?')"><i
                    class="bi bi-trash-fill"></i>
            </a>
    
    
            <%// }else if(users.role=='user' && users.username==comment.username){ %>
    
            <a href="/category/<%=// titleCategory %>/post/<%=// post.title_post %>/comment/edit/<%=// comment.id_comment %>"
                class="btn btn-warning ml-1 badge mt-2"><i class="bi bi-pencil-square"></i>
            </a>
    
            <a href="/category/<%=// titleCategory %>/post/<%=// post.title_post %>/comment/delete/<%=// comment.id_comment %>  %>"
                class="btn btn-danger badge mt-2" onclick="return confirm('yakin Anda Menghapus comment ini  ?')"><i
                    class="bi bi-trash-fill"></i>
            </a>
    
    
            <%// } %>
    
        </div>
    
    </div> -->
    <% } %>
</div>
<% } %>

<% if(users=='null'){ %>
<% }else{ %>
<div class="card w-70 mt-4">
    <div class="card-body">


        <form method="POST" action="/comment/update" class="mt-4">
            <input type="hidden" name="id_post" value="<%= post.id_post %>" />
            <input type="hidden" name="title_category" value="<%= titleCategory %>" />
            <input type="hidden" name="title_post" value="<%= post.title_post %>" />
            <input type="hidden" name="id_user" value="<%= users.id_user %>" />
            <input type="hidden" name="id_comment" value="<%= commentar.id_comment %>" />



            <div class="mb-3">
                <label for="comment" class="form-label">Comment Sebagai <%= users.username %> </label>
                <textarea type="text" class="form-control" id="comment" aria-describedby="comment" name="comment"
                    placeholder="comment" required><%= commentar.comment %> </textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
<% } %>
<% } %>