<% if (!post) { %>
Forum tidak ada.<br> <a href="/category" class="alert-link fw-normal">&laquo;Kembali ke kategori</a>.
<% } else { %>
<div class="card w-70 mt-4">
    <div class="card-header">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/category/<%= titleCategory%>"><%= titleCategory%></a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= capitalize.words(post.title_post) %></li>
            </ol>
        </nav>
    </div>
    <div class="card-body">
        <h3 class="card-title"><%= capitalize.words(post.title_post) %></h3>
        <p class="card-text"><%= post.content %> </p>
        <% if(post.image === 'null' || post.image === 'undefined') { %>

        <% }else { %>
        <img src="/image/nigma-galaxy.jpg" class="rounded mx-auto d-block" alt="...">
        <% } %>
        <p class="card-text"><small class="text-muted">Owner <%= post.username %>
                <%= moment(post.date).format('yyyy-MM-DD') %>, <%= moment(post.time).format('HH:MM') %></small></p>
    </div>




</div>

<div class="card w-70 mt-4">

    <div class="card-body">

        <small class="card-text">Comment by adi Riyanto </small>
        <p class="card-text">Wah sangat Bagus sekali</p>

        <p class="card-text"><small class="text-muted"></small>Pada 2022-07-22 Jam 14:07</p>

    </div>
    <div class="text-end mb-10 mr-10">
        <a href="/comment/edit/<%=  %>" class="btn btn-warning ml-1 badge mt-2"><i class="bi bi-pencil-square"></i>
        </a>

        <a href="/comment/delete/<%=  %>" class="btn btn-danger badge mt-2"
            onclick="return confirm('yakin Anda Menghapus comment ini  ?')"><i class="bi bi-trash-fill"></i>
        </a>
    </div>

</div>

<div class="card w-70 mt-4">
    <div class="card-body">

        <form method="POST" action="/category" class="mt-4">
            <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea type="text" class="form-control" id="comment" value="" aria-describedby="comment"
                    name="comment" placeholder="comment" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>

<% } %>