<div class="container">
    <div class="row">
        <h1 class="page-header">Update User</h1>
        <!-- Menampilkan Error Pada Penginputan-->
        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>

    </div>
</div>



<form method="POST" action="/setting-user/update" class="mt-4" enctype="multipart/form-data">
    <input type="hidden" name="oldUsername" value="<%= selectUser.oldUsername || selectUser.username %>">
    <%= selectUser.oldUsername %>
    <input type="hidden" name="oldNama" value="<%= selectUser.oldNama || selectUser.nama %>">
    <input type="hidden" name="oldEmail" value="<%= selectUser.oldEmail || selectUser.email %>">
    <input type="hidden" name="oldPassword" value="<%= selectUser.oldPassword || selectUser.password %>">
    <input type="hidden" name="oldImage" value="<%= selectUser.oldImage || selectUser.image %>">
    <input type="hidden" name="oldRole" value="<%= selectUser.oldRole || selectUser.role %>">
    <input type="hidden" name="id_user" value="<%=  selectUser.id_user %>">



    <div class="mb-3">
        <label for="Title" class="form-label">Username</label>
        <input type="text" class="form-control" id="Title" aria-describedby="Title" name="username"
            placeholder="Username" value="<%= selectUser.username %>" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nama Lengkap</label>
        <input type="text" class="form-control" id="nama" aria-describedby="nama" name="nama" placeholder="Nama Lengkap"
            value="<%= selectUser.nama %>" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" name="email" placeholder="Email"
            value="<%= selectUser.email %>" required>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="password" placeholder="password" required>
    </div>
    <div class="mb-3">
        <label for="Password2" class="form-label">confirm Password</label>
        <input type="password" class="form-control" id="Password2" name="password2" placeholder="confirm Password"
            required>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image </label>

        <input type="file" accept="image/png, image/jpeg, image/jpg" class="form-control" id="image" name="image"
            value="<%= selectUser.image %>">

    </div>

    <div class="mb-3">
        <label class="form-label" for="select">Role</label>
        <select class="form-select" id="select" name="role" value="<%= selectUser.role %>" required>

            <% if (selectUser.role=='admin') { %>
            <option>Pilih Kategori</option>
            <option value="user">user</option>
            <option selected value="admin">admin</option>
            <% } %>
            <% if (selectUser.role=='user') { %>
            <option>Pilih Kategori</option>
            <option selected value="user">user</option>
            <option value="admin">admin</option>
            <% } %>


        </select>
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
</div>