<div class="container">
    <div class="row">
        <h1 class="page-header">Add New Forum Baru</h1>
        <!-- Menampilkan Error Pada Penginputan-->
        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>

    </div>
</div>


<form method="POST" action="/myforum/update" class="mt-4" enctype="multipart/form-data">
    <input type="hidden" name="oldTitlePost" value="<%= getForum.oldTitlePost || getForum.title_post %>">
    <input type="hidden" name="oldContent" value="<%= getForum.oldContent || getForum.content %>">
    <input type="hidden" name="oldImage" value="<%= getForum.oldImage || getForum.image %>">
    <input type="hidden" name="id_post" value="<%= getForum.id_post %>">

    <fieldset>
        <div class="mb-3">
            <label class="form-label" for="select">Kategori</label>
            <select class="form-select" id="select" name="category" value="<%= getForum.title_post %>" required>
                <option disabled selected>Pilih Kategori</option>
                <% if (categorys.length < 1 ) { %>
                <p>Kategori Data Tidak Ada</p>
                <% } else {%>
                <%= console.log(getForum.id_category) %>
                <% for(const category of categorys) { %>

                <option value="<%= category.id_category %>">
                    <%= category.title_category %></option>


                <% } %>
                <% } %>
            </select>
        </div>
    </fieldset>

    <div class="mb-3">
        <label for="Title" class="form-label">Judul Diskusi</label>
        <input type="text" class="form-control" id="Title" aria-describedby="Title" name="title_post"
            placeholder="Judul Diskusi" value="<%= getForum.title_post %>" required>
    </div>
    <div class="mb-3">
        <label for="Title" class="form-label">Content</label>
        <textarea type="text" class="form-control" id="Title" aria-describedby="Title" name="content"
            placeholder="Isi Diskusi" required><%= getForum.content %></textarea>
    </div>

    <div class="mb-3">
        <label for="image" class="form-label">Image </label>

        <input type="file" accept="image/png, image/jpeg, image/jpg" class="form-control" id="image" name="image"
            value="<%= getForum.image %> ">

    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
</div>