<div class="container">
    <div class="row">
        <h1 class="page-header">Update Profile</h1>

        <!-- Menampilkan Error Pada Penginputan-->
        <% if (typeof errors != 'undefined') { %>
        <div class="alert alert-danger" role="alert">
            <ul>
                <% errors.forEach(error => { %>
                <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>
        <% } %>

    </div>
</div>



<form method="POST" action="/setting-profile/update" class="mt-4" enctype="multipart/form-data">
    <input type="hidden" name="oldUsername" value="<%= selectUser.oldUsername || selectUser.username %>">
    <input type="hidden" name="oldNama" value="<%= selectUser.oldNama || selectUser.nama %>">
    <input type="hidden" name="oldEmail" value="<%= selectUser.oldEmail || selectUser.email %>">
    <input type="hidden" name="oldImage" value="<%= selectUser.oldImage || selectUser.image %>">
    <input type="hidden" name="id_user" value="<%=  selectUser.id_user %>">
    <div class="col text-center">
        <img src="../image/<%= users.image %>%>" alt="<%= users.nama %> " class="img-thumbnail rounded-circle"
            width="200px">
    </div>


    <div class="mb-3">
        <label for="image" class="form-label">Image </label>

        <input type="file" accept="image/png, image/jpeg, image/jpg" class="form-control" id="image" name="image">

    </div>

    <div class="mb-3">
        <label for="Title" class="form-label">Username</label>
        <input type="text" class="form-control" id="Title" aria-describedby="Title" name="username"
            placeholder="Username" value="<%= selectUser.username %>" required>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Nama Lengkap</label>
        <input type="text" class="form-control" id="nama" aria-describedby="nama" name="nama" placeholder="Nama Lengkap"
            value="<%= selectUser.nama %>" required>
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="email" name="email" placeholder="Email"
            value="<%= selectUser.email %>" required>
    </div>





    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<div class="container">
</div>