<!-- mainbody -->

<h1>User List : </h1>
<a href="/setting-user/add" class="btn btn-primary mt-3 mb-3"><i class="bi bi-plus-square"></i> Add User
    Baru</a>

<% if (msg.length !== 0) { %>
<div class="alert alert-success" role="alert">
    <%= msg %>
</div>
<% } %>
<!-- Membuat tabel menggunakan bootstrap -->
<table class="table table-sm" style="background-color: #fff;">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Username</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">Tanggal Pembuatan</th>
            <th scope="col text-center">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <% if (tbUser.length < 1 ) { %>
            <p>user data tidak ada</p>
            <% } else {%>
            <!-- Membuat nomor angka variable let i -->
            <% let i = 1; %>
            <% for(const user of tbUser) { %>
        <tr>
            <!-- Memanggil dan nomor -->
            <th><%= i++ %> </th>
            <td><%= user.username%> </td>
            <td><%= user.nama %> </td>
            <td><%= user.email %> </td>
            <td>
                <%= moment(user.date).format('YYYY-MM-DD') %> <%= user.time %>
            </td>

            <td>
                <!-- Menambahkan update dan delete  -->
                <a href="/setting-user/edit/<%= user.username %>" class="btn btn-warning ml-1 badge mt-2"><i
                        class="bi bi-pencil-square"></i>
                    Update</a>
                <br />
                <a href="/setting-user/delete/<%= user.username %>" class="btn btn-danger badge mt-2"
                    onclick="return confirm('yakin Anda Menghapus <%= user.username %>?')"><i
                        class="bi bi-trash-fill"></i>
                    Delete</a>
            </td>
        </tr>
        <% } %>
        <% } %>
        </tr>
        <tr>

        </tr>
    </tbody>
</table>